.card {
    width: 16.5rem;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.card-img-top {
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: 50% 50%;
}

.card-title, .modal-title {
    text-transform: capitalize;
}